trigger:
- none

jobs:

  - job: FunctionsV1Tests
    pool: 
      vmImage: 'windows-latest'

    variables:
      solution: 'WebJobs.Extensions.DurableTask.sln'
      buildPlatform: 'Any CPU'
      buildConfiguration: 'Debug'

    steps:
    - task: NuGetToolInstaller@0

    - task: DotNetCoreCLI@2
      inputs:
        command: 'restore'
        projects: '**/**/*.csproj'
        feedsToUse: 'config'
        nugetConfigPath: '.nuget/nuget.config'

    - task: VSBuild@1
      inputs:
        solution: '$(solution)'
        platform: '$(buildPlatform)'
        configuration: '$(buildConfiguration)'

    - task: VSTest@2
      inputs:
        testSelector: 'testAssemblies'
        testAssemblyVer2: |
          **/*tests.v1.dll
        testFiltercriteria: 'Category=FunctionsV1_BVT'
        diagnosticsEnabled: true
        rerunFailedTests: true
        rerunFailedThreshold: 10
        rerunMaxAttempts: 2
      env:
        AzureWebJobsStorage: $(AzureWebJobsStorage)

  - job: FunctionsV2Tests
    pool: 
      vmImage: 'windows-latest'

    strategy:
      parallel: 9

    variables:
      solution: 'WebJobs.Extensions.DurableTask.sln'
      buildPlatform: 'Any CPU'
      buildConfiguration: 'Debug'

    steps:
    - task: NuGetToolInstaller@0

    - task: DotNetCoreCLI@2
      inputs:
        command: 'restore'
        projects: '**/**/*.csproj'
        feedsToUse: 'config'
        nugetConfigPath: '.nuget/nuget.config'

    - task: VSBuild@1
      inputs:
        solution: '$(solution)'
        platform: '$(buildPlatform)'
        configuration: '$(buildConfiguration)'

    - task: VSTest@2
      inputs:
        testSelector: 'testAssemblies'
        testAssemblyVer2: |
          **/*tests.v2.dll
        distributionBatchType: basedOnExecutionTime
        diagnosticsEnabled: true
        rerunFailedTests: true
        rerunFailedThreshold: 10
        rerunMaxAttempts: 2
      env:
        AzureWebJobsStorage: $(AzureWebJobsStorage)


  - job: PublishPipelineArtifact
    dependsOn:
      - FunctionsV1Tests
      - FunctionsV2Tests

    pool: 
      vmImage: 'windows-latest'

    variables:
      solution: 'WebJobs.Extensions.DurableTask.sln'
      buildPlatform: 'Any CPU'
      buildConfiguration: 'Release'

    steps:
    - task: NuGetToolInstaller@0

    - task: DotNetCoreCLI@2
      inputs:
        command: 'restore'
        projects: '**/**/*.csproj'
        feedsToUse: 'config'
        nugetConfigPath: '.nuget/nuget.config'

    - task: VSBuild@1
      inputs:
        solution: '$(solution)'
        platform: '$(buildPlatform)'
        configuration: '$(buildConfiguration)'

    - task: EsrpCodeSigning@1
      displayName: 'ESRP CodeSigning: Authenticode'
      inputs:
        ConnectedServiceName: 'ESRP Service'
        FolderPath: 'src/WebJobs.Extensions.DurableTask/bin/$(buildConfiguration)'
        Pattern: '*DurableTask.dll'
        signConfigType: 'inlineSignParams'
        inlineOperation: |
          [    
                   {
                     "KeyCode": "CP-230012",
                     "OperationCode": "SigntoolSign",
                     "Parameters": {
                       "OpusName": "Microsoft",
                       "OpusInfo": "http://www.microsoft.com",
                       "FileDigest": "/fd \"SHA256\"",
                       "PageHash": "/NPH",
                       "TimeStamp": "/tr \"http://rfc3161.gtm.corp.microsoft.com/TSS/HttpTspServer\" /td sha256"
                     },
                     "ToolName": "sign",
                     "ToolVersion": "1.0"
                   },
                   {
                     "KeyCode": "CP-230012",
                     "OperationCode": "SigntoolVerify",
                     "Parameters": {},
                     "ToolName": "sign",
                     "ToolVersion": "1.0"
                   }
                ]
        SessionTimeout: '60'
        MaxConcurrency: '50'
        MaxRetryAttempts: '5'

  
    - task: EsrpCodeSigning@1
      displayName: 'ESRP CodeSigning: Nupkg'
      inputs:
        ConnectedServiceName: 'ESRP Service'
        FolderPath: 'src/WebJobs.Extensions.DurableTask/bin/$(buildConfiguration)'
        Pattern: '*.nupkg'
        signConfigType: 'inlineSignParams'
        inlineOperation: |
          [    
                   {
                     "KeyCode": "CP-230012",
                     "OperationCode": "NuGetSign",
                     "Parameters": {},
                     "ToolName": "sign",
                     "ToolVersion": "1.0"
                   },
                   {
                     "KeyCode": "CP-230012",
                     "OperationCode": "NuGetVerify",
                     "Parameters": {},
                     "ToolName": "sign",
                     "ToolVersion": "1.0"
                   }
                ]
        SessionTimeout: '60'
        MaxConcurrency: '50'
        MaxRetryAttempts: '5'

    - publish: 'src/WebJobs.Extensions.DurableTask/bin'
      artifact: bin