<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="15.8.33" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="15.8.122" targetFramework="net461" />
  <package id="Microsoft.VSSDK.BuildTools" version="16.0.2241" targetFramework="net461" developmentDependency="true" />
</packages>