<configuration>
  <packageSources>
    <clear/>
    <add key="local" value="./packages/" />
    <add key="upstream-public" value="https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/nuget/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="upstream-public">
      <package pattern="*" />
    </packageSource>
    <packageSource key="local">
      <package pattern="Microsoft.Azure.WebJobs.Extensions.DurableTask" />
    </packageSource>
  </packageSourceMapping>
</configuration>
