<configuration>
	<packageSources>
		<clear/>
		<add key="local" value="." />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="durabletask-testing" value="https://azfunc.pkgs.visualstudio.com/public/_packaging/durabletask-testing/nuget/v3/index.json" />
	</packageSources>
	<packageSource key="nuget.org">
		<package pattern="*" />
	</packageSource>
	<packageSource key="local">
		<package pattern="Microsoft.Azure.WebJobs.Extensions.DurableTask" />
	</packageSource>
</configuration>
