<configuration>
	<packageSources>
		<clear/>
		<add key="local" value="." />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="durabletask-testing" value="https://azfunc.pkgs.visualstudio.com/public/_packaging/durabletask-testing/nuget/v3/index.json" />
	</packageSources>
</configuration>
