<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear/>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
        <add key="local" value="." />
        <add key="durabletask" value="https://azfunc.pkgs.visualstudio.com/public/_packaging/durabletask/nuget/v3/index.json" />
    </packageSources>
	<packageSourceMapping>
		<packageSource key="durabletask">
			<package pattern="Microsoft.Azure.DurableTask.Core" />
			<package pattern="Microsoft.Azure.DurableTask.AzureStorage" />
			<package pattern="Microsoft.Azure.DurableTask.ApplicationInsights" />
			<package pattern="Microsoft.DurableTask.Abstractions" />
			<package pattern="Microsoft.DurableTask.Client" />
			<package pattern="Microsoft.DurableTask.Client.Grpc" />
			<package pattern="Microsoft.DurableTask.Grpc" />
			<package pattern="Microsoft.DurableTask.Worker" />
			<package pattern="Microsoft.DurableTask.Worker.Grpc" />
		</packageSource>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>